.mat-raised-button{
  position: relative;
  top:0%;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  background: #57f2f2;
  background-image: -webkit-linear-gradient(top, #57f2f2, #fa2dec);
  background-image: -moz-linear-gradient(top, #57f2f2, #fa2dec);
  background-image: -ms-linear-gradient(top, #57f2f2, #fa2dec);
  background-image: -o-linear-gradient(top, #57f2f2, #fa2dec);
  background-image: linear-gradient(to bottom, #57f2f2, #fa2dec);
  border-radius: 18px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  border: solid #ffffff 2px;
}
